$grid-width:114rem;
$gutter-vertical:8rem; 
$gutter-horizontal:6rem;

$color-black:#000;
$color-orange:#f7a59c;
$color-white:#fff;
$color-orange-dark:#f85442;

$font-kid:'Hachi Maru Pop', cursive;
$font-heading: 'Roboto Mono', monospace;