<div class="ui fixed inverted menu">
    <div class="ui container">
        <a href="/usrAdmin" class="header item">
            <img class="logo" src="/images/ame-logo.svg"> 
        </a>
        <a href="/usrAdmin/teacher-management" class="item">
            <i class="id badge outline icon"></i>Teacher Management
        </a>
        <a href="/usrAdmin/ppt-pending" class="item">
            <i class="spinner icon"></i>Pending PPT
        </a>
        <a href="/usrAdmin/ppt-approved" class="item">
            <i class="check circle outline icon"></i>Approved PPT
        </a>
        a(href="/usrAdmin/issues" class="item")
            i(class="question circle icon") Issues
                
        <a href="/usrAdmin/admin-logout" class="ui right floated item">
            div(class="ui inverted red button")
                <i class="power off icon "></i>Log Out
        </a>
        </div>
    </div>
</div>

//- ui inverted red button