extends base
block content
    <div class="ui icon message">
        <i class="envelope icon"></i>
        <div class="content">
            <div class="header">Check your mail to continue
            </div>
        </div>
    </div>