extends base
block content
    h3(style="margin-top:100px") Forgot Password
    div(class="ui segment")
        form(action="/forgot-password", method="post" class="ui equal width form" )
            <div class="fields">
                .field
                    label(for="email") Email
                    input(type="email", name="email" placeholder="Email" required)
            </div>    
            input(class="ui primary button" type="submit", value="Submit")