//- <div class="ui borderless main menu fixed" style="position: fixed; top: 0px; left: auto; z-index: 10;">
//-     <div class="ui text container">
//-         <div class="header item">
//-             <img class="logo" src="/images/ame-logo.svg" /> 
//-         </div>
//-         <a href="/" class="item">PPT DEMO</a>
//-         //- <a href="#" class="item">Articles</a>
//-         a(href="/login" class="ui right floated item login-a") 
//-             <div class="ui green button log-in">Login</div>
//-     </div>
//- </div>
<nav class="navbar" >
            <div class="navbar__logo">
                    <img class="navbar__logo--img" src="/images/ame-logo.svg" />
            </div>
            <div class="navbar__heading">
                <a href="/" class="item">PPT DEMO</a>
            </div>
            <div class="navbar__login">
                a(href="/login" class="btn btn--login" id="log-in") Login
            <div>
</nav>