<div class="ui borderless main menu fixed" style="position: fixed; top: 0px; left: auto; z-index: 10;">
<div class="ui text container">
    <div class="header item">
        <img class="logo" src="/images/ame-logo.svg" /> 
    </div>
    <a href="/" class="item">PPT DEMO</a>
    //- <a href="#" class="item">Articles</a>
    a(href="/login" class="ui right floated item login-a") 
        <div class="ui green button log-in">Login</div>
    
      
</div>
</div>