extends base
block content
    h3 enter new password
    form(action="/update-password", method="post")
        input(type="email", value=`${email}`, name ="email" readOnly)
        input(type="password", name="password", placeholder="New Password")
        input(type="password", name="passwordConfirm", placeholder="Confirm password")
        input(type="submit", value="Update Password")