.btn{

    border: .1rem solid $color-orange;

    &--login{
        padding: .8rem;
        font-size: 1.5rem;
        border-radius: 25rem;
        width: 12.5rem;
        font-family: $font-heading;

        &:hover{
            background-color: $color-orange;
            color: #fff;
        }
    }
}