.section-live{
    padding: 0 20rem;
    position: relative;

    #report{
        position: absolute;
        left: 75%;
        top:15%;
        color:red;
        font-size: 1.6rem;
        font-family: $font-heading;
        cursor: pointer;
    }

    .ui, 
    .basic, 
    .modal{
        font-size: 2.5rem;
    }
}